@import "tailwindcss";

@font-face {
  font-family: "Line Seed sans";
  src: url("./assets/fonts/LINESeedSans_W_Rg.woff");
}

:root {
  --color-background: #010101;
  --color-bacground-light: #0f0f0f;
  --color-light: #fcfcfc;
  --color-primary: #f26622;
  --color-primary-light: #f97316;

  /* font */
  --font-mono: "Line Seed sans", monospace;
  --font-serif: "Line Seed sans", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-light);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 #000;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary-light);
}

.border-primary {
  border-color: var(--color-primary-light);
}
/* using ring-primary in select, input, textArea */
.ring-primary {
  --tw-ring-color: var(--color-primary-light);
}

.text-primary {
  color: var(--color-primary-light);
}

.bg-background {
  background-color: var(--color-background);
}

.text-background {
  color: var(--color-background);
}

.bg-background-light {
  background-color: var(--color-bacground-light);
}

.text-background-light {
  color: var(--color-bacground-light);
}

.bg-light {
  background-color: var(--color-light);
}

.text-light {
  color: var(--color-light);
}

.clip {
  position: relative;
  clip-path: path(
    "M 10,20 L 60,20 A 10,10 0,0,0 70,10 L 70,10 A 10,10 0,0,1 80,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,30 A 10,10 0,0,1 10,20 Z"
  );
  background-color: red;
}

.clip-feed-bg {
  clip-path: path("M 10,20 L 60,20 A 10,10 0,0,0 70,10 L 70,10 A 10,10 0,0,1 80,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,30 A 10,10 0,0,1 10,20 Z");
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
